autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
Django==2.2.1
django-sortedm2m==1.5.0
django-taggit==1.1.0
docopt==0.6.2
ExifRead==2.1.2
idna==2.8
mysqlclient==1.4.2.post1
Pillow==6.0.0
pipreqs==0.4.9
pycodestyle==2.5.0
pytz==2019.1
requests==2.21.0
sqlparse==0.3.0
urllib3==1.24.3
yarg==0.1.9
django_taggit==1.1.0

