{% extends 'users/base.html' %}

{% block body_block %}

  <div class="container">
      <h1>Login</h1>
        <form method="post" action="{% url 'users:user_login' %}">
              {% csrf_token %}

        <label for="username-login">Username</label>
        <input class="username-login" type="text" name="username" placeholder="Username" >

        <label for="password-login">Password</label>
        <input class="password-login" type="password" name="password" placeholder="Password">

        <input type="submit" name="" value="Login">
        </form>

        <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}" style="color:white">Login with Facebook</a>
        </button>
  </div>

{% endblock %}